*{
    border:2px solid red;
}
.container{
    display:flex;
    height: 100vh;
}
.img-container{
    background-image: url('images/dog.JPEG');
    background-size: 100% 100%;
    width:40%;
}

.form-container{
    width:60%;
}
